.banner {
  background: linear-gradient(45deg, #6425bccb, #6425bce3), url('../../assets/images/QuranBanner.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}